#brandTitle{
	color:white;
}

#pageTitleName {
	font-size: 18px;
	line-height: 20px;
	color:#999;
	padding: 15px 15px 15px 0px;
	
}

.pageTitle {
	border-bottom: 2px solid #ccc;
}

.sectionTitle {
	color:#999;
	font-size: 12px;
	width:100%;
	margin-bottom: 10px;
}

.productNumber {
	background-color: #ccc;
	width:50px;
	height:50px;
	margin:10px;
	font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
	z-index: 1000;
	
	position: absolute;
}

.centerProductNumber {
	color: black;

}

.productImage {
	height:300px;
	width:80%;
	z-index: -1;
	float:right;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}


.infoName {
	color: #999;
}

.infoValue {
	color:#000;
}

.collapseButton{
	position: absolute;
	bottom: 0;
	text-align:center;
	left:50%;
}

.productName{
	color:#999;
	padding-left: 10px;
}

.viewInfo {
	padding-left: 10px;
	color:#999;
}

.viewInfo .viewCount {
	color:#8ED09A;
}


#container {
	width: 400px;
	 height: 300px; 
	 margin: 0 auto;
}